.wpt-nav {

  .wp-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }

  .filter-links {

    width: 100%;

    a {
      color: #0D5264;

      &:focus,
      &:hover {
        color: $accent;
      }

      &.current {
        color: $accent;
        border-color: $accent;
      }
    }
  }
  .filter-links-right {
    float: right;
  }
}
