/**
 * WP-Translation Pro Styles
 */
/* # Variables
-----------------------------------------------------------------------*/
/* ### Colors */
/* ### Other */
.js-tabcontent[aria-hidden=true]
{
    display: none;
}

.js-to_expand[aria-hidden=true],
.js-to_expand[data-hidden=true]
{
    display: none;
}

.js-expandmore
{
    margin: 0;
}

.js-expandmore:before
{
    content: '---';

    color: #13b09d;
}

.expandmore__button
{
    font-size: inherit;

    padding: .5em;

    color: inherit;
    border: 1px solid #13b09d;
    border-radius: 5px;
    background: none;
}

.expandmore__button span
{
    font-family: 'dashicons';

    vertical-align: middle;
}

.expandmore__button[aria-expanded=false] > .expandmore__symbol:after,
.expandmore__button[data-expanded=false] > .expandmore__symbol:after
{
    content: '\f347';
}

.expandmore__button[aria-expanded=true] > .expandmore__symbol:after,
.expandmore__button[data-expanded=true] > .expandmore__symbol:after
{
    content: '\f343';
}

/* ### Clearfix */
/* ### Transitions */
.toplevel_page_wp-translations-pro #wpwrap
{
    position: relative;
}

.wpt-button
{
    font-size: 13px;
    font-weight: 600;
    line-height: normal;

    position: relative;

    margin-left: 4px;
    padding: 4px 8px;

    cursor: pointer;
    text-decoration: none;

    color: #0073aa;
    border: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: 0;
    background: #f7f7f7;
    text-shadow: none;
}

.wpt-button[disabled='disabled']
{
    cursor: default;

    opacity: .5;
}

.wpt-button:hover,
.wpt-button.wpt-button-primary
{
    color: #fff;
    border-color: #008ec2;
    background: #00a0d2;
}

.wpt-button.danger
{
    color: #d32f2f;
}

.wpt-button.danger:hover
{
    color: #fff;
    border-color: #d32f2f;
    background: #d32f2f;
}

a.wpt-button
{
    padding: 4px 8px 7px 8px;
}

a.wpt-button .dashicons
{
    vertical-align: middle;
}

.wpt-button-link
{
    padding: 0;

    cursor: pointer;

    color: #0073aa;
    border: none;
    background: none;
}

.wpt-button-link:hover
{
    color: #00a0d2;
}

.wpt-button-update span:first-of-type
{
    color: #f56e28;
}

input[type='checkbox'].switch
{
    position: relative;

    width: 40px;
    height: 20px;

    transition: .2s;

    border: 1px solid silver;
    border-radius: 3px;
    outline: none;
    background-color: white;
    box-shadow: inset -20px 0 0 1px rgba(192, 192, 192, .5);

       -moz-appearance: none;
    -webkit-appearance: none;
         -o-appearance: none;
}

input[type='checkbox'].switch:checked
{
    border: 1px solid #0073aa;
    box-shadow: inset 20px 0 0 1px rgba(0, 115, 170, .7);
}

input[type='checkbox'].switch:checked::before
{
    margin: 0;

    content: '';
}

input[type='checkbox'].switch::-ms-check
{
    /* IE 5-7 */
    opacity: 0;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    /* IE 8 */
        filter: alpha(opacity=0);
}

.wpt-settings-table .notice
{
    margin: 0;
    padding: 1em;
}

#setting-error-wpt-settings-updated + #setting-error-wpt-settings-updated
{
    display: none;
}

.wpt-license-notice td
{
    padding: 0 1.5em;
}

.wpt-license-notice.is-error
{
    border-color: #dc3232;
    background-color: #dc3232;
}

.wpt-license-notice.is-success
{
    border-color: #46b450;
    background-color: #46b450;
}

.wpt-license-notice.is-info
{
    border-color: #00a0d2;
    background-color: #00a0d2;
}

.wp-translations-notice
{
    margin: 5px 20px 15px 40px;
    padding: 1px 12px;

    border-left: 4px solid #fff;
    border-left-color: white;
    background: #fff;
    background-color: white;
}

.wp-translations-notice p
{
    margin: .5em 0 !important;
}

.wp-translations-notice p::before
{
    font: normal 20px/1 'dashicons';

    margin-right: .4em;

    vertical-align: middle;
}

.wpt-settings-table .wp-translations-notice p
{
    margin: .5em 0;
}

.wpt-settings-table .wp-translations-notice p::before
{
    margin-right: 6px;

    vertical-align: bottom;
}

.wp-translations-notice-second
{
    top: 39px !important;
}

.wp-translations-update-message p::before
{
    content: '\f463';

    color: #f56e28;
}

.wp-translations-update-message p:nth-of-type(2)
{
    display: none;
}

.wp-translations-updated-message p::before
{
    font: normal 20px/1 'dashicons';

    content: '\f147';

    color: #79ba49;
}

.wp-translations-info-message p::before
{
    font: normal 20px/1 'dashicons';

    content: '\f326';

    color: #00a0d2;
}

.wp-translations-notice-success
{
    border-left-color: #46b450;
    background-color: #ecf7ed;
}

.wp-translations-notice-warning
{
    border-left-color: #ffb900;
    background-color: #fff8e5;
}

.wp-translations-notice-info
{
    border-left-color: #00a0d2;
    background-color: #e5f5fa;
}

.wpt-notice-table
{
    font-weight: bold;

    height: 30px;

    vertical-align: middle;

    color: #fff;
}

.wpt-modal-table .wpt-notice-table
{
    padding: 0 1em;
}

.wpt-notice-table.wpt-notice-table-error
{
    background-color: #dc3232;
}

.wpt-notice-table.wpt-notice-table-error:after
{
    font-size: 19.2px;
    font-size: 1.2rem;

    content: '';
}

.wpt-notice-table.wpt-notice-table-success
{
    background-color: #46b450;
}

.wpt-notice-table.wpt-notice-table-success:after
{
    font-size: 19.2px;
    font-size: 1.2rem;

    content: '';
}

.wpt-notice-table.wpt-notice-table-info
{
    background-color: #00a0d2;
}

.wpt-notice-table.wpt-notice-table-info:after
{
    font-size: 19.2px;
    font-size: 1.2rem;

    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

.wpt-field-notice-error
{
    font-style: italic;

    padding-bottom: .5em;

    color: #dc3232;
}

.wpt-spinner
{
    font-family: dashicons;
    font-size: 20px;
    line-height: 1;

    display: inline-block;

    width: 20px;
    height: 20px;

    animation: wpt-spin-anim 1s infinite linear;
    text-align: center;
    vertical-align: middle;
}

.wpt-spinner::before
{
    font-family: dashicons;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    content: '\f531';
    text-align: center;
}

.wpt-spinner.is-success
{
    display: inline-block;

    animation-name: none;
}

.wpt-spinner.is-success::before
{
    visibility: visible;

    content: '\f147';
}

.wpt-spinner.is-error
{
    display: inline-block;

    animation-name: none;
}

.wpt-spinner.is-error::before
{
    visibility: visible;

    content: '\f534';
}

@keyframes wpt-spin-anim
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(-359deg);
    }
}

@keyframes dots
{
    0%,
    20%
    {
        color: transparent;
        text-shadow: .25em 0 0 transparent, .5em 0 0 transparent;
    }
    40%
    {
        color: white;
        text-shadow: .25em 0 0 transparent, .5em 0 0 transparent;
    }
    60%
    {
        text-shadow: .25em 0 0 white, .5em 0 0 transparent;
    }
    80%,
    100%
    {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}

@keyframes dotsprimary
{
    0%,
    20%
    {
        color: transparent;
        text-shadow: .25em 0 0 transparent, .5em 0 0 transparent;
    }
    40%
    {
        color: #0073aa;
        text-shadow: .25em 0 0 transparent, .5em 0 0 transparent;
    }
    60%
    {
        text-shadow: .25em 0 0 #0073aa, .5em 0 0 transparent;
    }
    80%,
    100%
    {
        text-shadow: .25em 0 0 #0073aa, .5em 0 0 #0073aa;
    }
}

.wpt-page .postbox
{
    margin-top: 1em;
}

.wpt-page .postbox h2
{
    font-size: 14px;
    line-height: 1.4;

    display: -ms-flexbox;
    display: flex;

    height: 47px;
    margin: 0;
    padding: 0 12px;

    color: #0d5264;
    border-bottom: 1px solid #eee;

    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.wpt-page .postbox select
{
    line-height: 30px;

    height: 30px;
    margin-top: 2px;
}

.wpt-table-footer
{
    padding: 10px;

    text-align: right;

    border-top: 1px solid #ddd;
    background: #f5f5f5;
}

.wpt-settings-table
{
    width: 100%;

    table-layout: auto;
    border-collapse: collapse;
}

.update-core-php .wpt-settings-table
{
    background-color: #fff;
}

.wpt-settings-table.wpt-modal-table .wpt-license-row
{
    border-left: none;
}

.wpt-settings-table .wpt-license-row
{
    height: 47px;

    border: 1px solid #e5e5e5;
    border-right: none;
}

.wpt-settings-table .wpt-license-row:first-of-type
{
    border-top: none;
}

.wpt-settings-table .wpt-license-row.error
{
    border-left: 5px solid #dc3232;
}

.wpt-settings-table thead tr
{
    height: 47px;

    border-bottom: 1px solid #e5e5e5;
}

.wpt-settings-table th
{
    padding: 1em 0;

    text-align: left;
    vertical-align: middle;
}

.wpt-settings-table th:first-of-type
{
    padding-left: 1em;
}

.wpt-settings-table th:last-of-type
{
    padding-right: 1em;

    text-align: right;
}

.update-core-php .wpt-settings-table th
{
    padding-left: 0;
}

.update-core-php .wpt-settings-table th:first-of-type
{
    padding: 1em;
}

.wpt-settings-table .wpt-license-row.teaser label:after
{
    font-size: 12.8px;
    font-size: .8rem;
    font-style: oblique;

    padding-left: 1em;

    content: ' (soon)';
}

.wpt-settings-table .wpt-license-row td
{
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.wpt-settings-table .wpt-license-row td:first-of-type
{
    width: 22%;
    padding-left: 12px;
}

.update-core-php .wpt-settings-table .wpt-license-row td:first-of-type
{
    width: auto;
}

.wpt-settings-table .wpt-license-row td.column-actions
{
    padding-right: 12px;
    padding-left: 0;

    text-align: right;
}

.wpt-settings-table .wpt-license-row td label
{
    font-weight: bold;
    line-height: 1.5;

    display: inline-block;

    padding: 4px 8px;

    transition: all .25s ease-out;
    vertical-align: middle;

    border: 1px solid transparent;
    border-radius: 0;
    outline: 0;
    background: 0 0;
}

.wpt-settings-table .wpt-license-row td label:hover,
.wpt-settings-table .wpt-license-row td label:focus
{
    cursor: pointer;

    border-color: #eee;
    background: #fafafa;

    t: 0;
}

.wpt-settings-table .wpt-license-row td label:hover + .dashicons,
.wpt-settings-table .wpt-license-row td label:focus + .dashicons
{
    display: inline-block;
}

.wpt-settings-table .wpt-license-row td label + .dashicons
{
    line-height: 1.5;

    display: none;

    margin-top: 1px;
    margin-bottom: -1px;
}

.wpt-settings-table input[type='password']
{
    padding: 4px 5px 5px;
}

.wpt-license-table .column-action
{
    padding-right: 1em;

    text-align: right;
}

.wpt-license-table .column-ajax
{
    width: 20px;
}

.wpt-license-table .column-ajax.is-success
{
    color: #fff;
    background-color: #46b450;
}

.wpt-license-table .column-ajax.is-error
{
    color: #fff;
    background-color: #dc3232;
}

.wpt-license-table .column-ajax.is-info
{
    color: #fff;
    background-color: #00a0d2;
}

.wpt-modal-table input[type='text'],
.wpt-modal-table input[type='url'],
.wpt-modal-table input[type='password'],
.wpt-modal-table select,
.wpt-modal-table textarea
{
    width: 200px;
}

.wpt-repo-status
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.wpt-translation-version
{
    line-height: 1.7;
}

.wpt-page
{
    margin-top: 2.5em;
}

.wpt-header
{
    padding: 24px  12px;

    background: #0d5264;
}

.wpt-header img
{
    max-width: 33%;
}

.wpt-nav .wp-filter
{
    display: -ms-flexbox;
    display: flex;

    margin-top: 0;

    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.wpt-nav .filter-links
{
    width: 100%;
}

.wpt-nav .filter-links a
{
    color: #0d5264;
}

.wpt-nav .filter-links a:focus,
.wpt-nav .filter-links a:hover
{
    color: #13b09d;
}

.wpt-nav .filter-links a.current
{
    color: #13b09d;
    border-color: #13b09d;
}

.wpt-nav .filter-links-right
{
    float: right;
}

.wptpro-footer-link
{
    margin-right: 10px;

    text-decoration: none;
}

.js-tabcontent[aria-hidden=true]
{
    display: none;
}

.wpt-tab-alone
{
    width: 100%;
}

.wpt-readme-tabs__content
{
    padding: .5em;
}

.wpt-readme-tabs__content .invisible
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    word-wrap: normal !important;

    border: 0;

    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
}

.wpt-readme-tabs__list
{
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 0;

    border-bottom: 1px solid #eee;
}

.js-tablist__item
{
    margin-bottom: 10px;
}

.wpt-readme-tabs__link
{
    font-weight: bold;

    margin-left: .25em;
    padding: 10px;

    cursor: pointer;

    border: 1px solid #eee;
    background: #f4f5f6;
}

.wpt-readme-tabs__link[aria-selected=true]
{
    border-bottom-color: #fff;
    background: #fff;
}

.wpt-product-page-link
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding-bottom: 1em;

    text-align: center;
}

/** New A11y version */
.wpt-settings-tabs
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.wpt-settings-tabs__list
{
    margin: 0;

    background-color: #f5f5f5;
}

.wpt-settings-tabs__item
{
    margin-bottom: 0;

    cursor: pointer;

    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}

.wpt-settings-tabs__item.teaser span + span::after
{
    font-size: 12.8px;
    font-size: .8rem;
    font-style: oblique;

    padding-left: 1em;

    content: ' (soon)';
}

.wpt-settings-tabs__item span
{
    margin-right: .5em;
}

.wpt-settings-tabs__item a
{
    font-weight: bold;
    line-height: 1.5;

    display: block;

    padding: 1em 1.5em 1em;

    color: #0d5264;
    border-left: 5px solid #e5e5e5;
}

.wpt-settings-tabs__item a[aria-selected='true']
{
    color: #13b09d;
    border-left: 5px solid #13b09d;
    background: #fff;
}

.wpt-settings-tabs__item a:hover
{
    color: #13b09d;
    background: #fff;
}

.wpt-settings-tabs__content
{
    border-left: 1px solid #e5e5e5;

    -ms-flex: 1;
        flex: 1;
}

.hidden
{
    display: none;
}

#js-modal-page
{
    height: 100%;
}

/* needed for old browsers */
dialog
{
    display: block;

    padding: 0;
}

/* removes scroll when modal is opened */
.no-scroll
{
    overflow: hidden;
}

/* overlay covers everything */
.wpt-modal-modal-overlay
{
    position: fixed;
    z-index: 9991;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    opacity: .2;
    background: #000;
}

/* modal */
.wpt-modal-modal,
.wpt-modal-modal--reverse
{
    font-size: 1em;

    position: fixed;
    z-index: 9992;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;

    overflow-y: scroll;

    width: 42em;
    height: 100%;
    padding: 50px 0 0 40px;

    transform: translateZ(0);
    animation: apparition ease .5s 1 normal;

    border: 0;
    background: transparent;
}

.wpt-modal-modal div[role='document'],
.wpt-modal-modal--reverse div[role='document']
{
    height: auto;
    min-height: 100%;

    background-color: #fff;
    box-shadow: -.5em 0 10px rgba(0, 0, 0, .2);
}

.wpt-modal-modal--reverse
{
    animation-direction: reverse;
}

@keyframes apparition
{
    0%
    {
        left: auto;

        width: 0;
        max-height: 100%;

        opacity: 0;
    }
    100%
    {
        left: auto;

        max-width: 100%;

        opacity: 1;
    }
}

.wpt-modal-modal-close
{
    font-family: 'dashicons';
    font-size: 13px;
    font-weight: 600;
    line-height: normal;

    position: absolute;
    top: 56px;
    left: 0;

    padding: 4px 8px;

    cursor: pointer;
    text-decoration: none;

    color: #fff;
    border: none;
    border: 1px solid #008ec2;
    border-color: #008ec2;
    border-radius: 0 0 0 5px;
    outline: 0;
    background: #00a0d2;
    background: #00a0d2;
    text-shadow: none;
}

.wpt-modal-modal-close:before
{
    font-size: 20.8px;
    font-size: 1.3rem;

    content: '\f345';
}

.wpt-modal-modal-close span
{
    position: absolute;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    word-wrap: normal !important;

    border: 0;

    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
}

.wpt-modal-modal-overlay[data-background-click='disabled']
{
    cursor: auto;
}

.wpt-modal-modal-title
{
    padding: .5em;

    text-align: center;

    border-bottom: 1px solid #ccc;
}

.wpt-modal-modal__content,
.js-modal-content,
.wpt-modal-settings,
.wpt-modal-settings form
{
    height: 95vh;
}

.wpt-modal-settings form
{
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -ms-flex-direction: column;
}

.wpt-modal-modal__content .inside
{
    padding: 1em;
}

.wpt-modal-modal__content .wpt-modal-settings
{
    position: relative;

    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 1em 0;

    -ms-flex-direction: column;
}

.wpt-modal-modal__content .wpt-modal-settings h2
{
    padding-left: 1em;
}

.wpt-modal-modal__content .wpt-modal-settings .wpt-modal-settings-actions
{
    margin-top: auto;
    padding: 1em;

    background: #f4f5f6;
}

.wpt-modal-modal__content .wpt-settings-overlay
{
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;

    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: 100%;

    color: #fff;
    background: rgba(0, 160, 210, .9);

    -ms-flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.wpt-modal-modal__content .wpt-settings-overlay p
{
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;

    margin-bottom: 0;
}

.wpt-modal-modal__content .wpt-settings-overlay:after
{
    font-size: 80px;
    font-size: 5rem;

    margin-left: -32px;
    margin-left: -2rem;

    content: ' .';
    animation: dots 1s steps(5, end) infinite;

    color: #fff;
}

.wpt-repo-explorer
{
    padding: 12px;
}

.wpt-repo-list-item
{
    font-weight: bold;

    position: relative;

    width: 90%;
    height: auto;
    min-height: 20px;
    padding: 5px 10px;

    color: #23282d;
    border: 1px solid #ddd;
    background: #fafafa;
}

.wpt-repo-list-item div
{
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    word-wrap: break-word;

    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.wpt-repo-list-item div label
{
    -ms-flex: 1;
        flex: 1;
}

.wpt-repo-list-item .wpt-repo-sub-branch
{
    padding-top: 12px;
    padding-left: 12px;
}

.wpt-repo-deploy-branch.active:after
{
    content: ' .';
    animation: dotsprimary 1s steps(5, end) infinite;

    color: #0073aa;
}

.wpt-repo-explorer-open.active:after
{
    content: ' .';
    animation: dots 1s steps(5, end) infinite;

    color: #fff;
}

/* it can be easily adapted in media-queries for tablets/mobile */
/* for this example: tablets */

/* for this example: mobile */

.wpt-debug ul
{
    margin: 0 0 0 3em;
    padding: .5em 0 0 .0;

    border-left: 2px dashed #13b09d;
}

.wpt-debug ul h4
{
    margin: 1em 0;
}

.wpt-debug li
{
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    align-items: center;
}

.wpt-debug li div
{
    padding: .5em;

    border: 1px solid #ccc;

    -ms-flex: 1;
        flex: 1;
}

.wpt-debug li:before
{
    content: '---';

    color: #13b09d;
}

/* it will work better with this box-sizing, you may adapt it to your needs */
/*html { box-sizing: border-box; }
*, *:before, *:after {
  box-sizing: inherit;
}*/
/* Tooltip hidden by default */
.simpletooltip[aria-hidden='true'],
.minimalist-simpletooltip[aria-hidden='true'],
.minimalist-left-simpletooltip[aria-hidden='true']
{
    display: none;
}

/* position relative for containers */
.simpletooltip_container,
.minimalist-simpletooltip_container,
.minimalist-left-simpletooltip_container
{
    position: relative;
}

/* tooltip styles */
.simpletooltip,
.minimalist-simpletooltip,
.minimalist-left-simpletooltip
{
    line-height: 1.3;

    position: absolute;
    z-index: 666;

    padding: .5em 1em;

    text-align: left;

    color: #fff;
    background: #00a0d2;
}

.simpletooltip h4,
.minimalist-simpletooltip h4,
.minimalist-left-simpletooltip h4
{
    font-size: 16px;
    font-size: 1rem;

    margin: 0;
    padding-bottom: .25em;

    border-bottom: 1px solid #fff;
}

.simpletooltip,
.minimalist-simpletooltip
{
    right: auto;
    left: 100%;

    margin-left: .5em;
}

.minimalist-left-simpletooltip
{
    right: 100%;
    left: auto;

    margin-right: .5em;
}

/* used pseudo-element to make arrows */
.simpletooltip::before,
.minimalist-simpletooltip::before,
.minimalist-left-simpletooltip::before
{
    position: absolute;
    z-index: 666;

    content: '';

    speak: none;
}

.simpletooltip::before,
.minimalist-simpletooltip::before
{
    top: 5px;
    left: -10px;

    margin-left: -10px;

    border: 10px solid transparent;
    border-right: 10px solid #00a0d2;
}

.minimalist-left-simpletooltip::before
{
    top: 5px;
    right: -10px;

    margin-right: -10px;

    border: 10px solid transparent;
    border-left: 10px solid #00a0d2;
}

/* it can be easily adapted in media-queries for tablets/mobile */
/* for this example: mobile */
@media (max-width: 512px)
{
    .wpt-hide-on-xs
    {
        position: absolute;

        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);

        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;

        word-wrap: normal !important;

        border: 0;

        -webkit-clip-path: inset(50%);
                clip-path: inset(50%);
    }
}
@media (max-width: 768px)
{
    .wpt-hide-on-sm
    {
        position: absolute;

        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);

        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;

        word-wrap: normal !important;

        border: 0;

        -webkit-clip-path: inset(50%);
                clip-path: inset(50%);
    }
    .wpt-header img
    {
        max-width: 100%;
    }
}
@media (max-width: 896px)
{
    .wpt-hide-on-md
    {
        position: absolute;

        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);

        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;

        word-wrap: normal !important;

        border: 0;

        -webkit-clip-path: inset(50%);
                clip-path: inset(50%);
    }
    .wpt-settings-tabs__item span
    {
        margin-right: 0;
    }
    .wpt-settings-tabs__item a
    {
        padding: 13px 13px 12px 13px;
    }
}
@media (max-width: 1152px)
{
    .wpt-hide-on-lg
    {
        position: absolute;

        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);

        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;

        word-wrap: normal !important;

        border: 0;

        -webkit-clip-path: inset(50%);
                clip-path: inset(50%);
    }
}
@media (max-width: 1280px)
{
    .wpt-hide-on-xl
    {
        position: absolute;

        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);

        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;

        word-wrap: normal !important;

        border: 0;

        -webkit-clip-path: inset(50%);
                clip-path: inset(50%);
    }
}
@media (max-width: 55.625em)
{
    .wpt-modal-modal
    {
        top: 5%;
        bottom: 5%;
        left: 5%;

        width: 90%;
    }
}
@media (max-width: 44.375em)
{
    .wpt-modal-modal
    {
        top: 1%;
        bottom: 1%;
        left: 1%;

        max-width: 98%;
    }
    .simpletooltip,
    .minimalist-simpletooltip,
    .minimalist-left-simpletooltip
    {
        top: 100%;
        right: 0;
        left: 50%;

        margin: 0;
        margin-top: .7em;
        margin-left: -5em;
    }
    .simpletooltip::before,
    .minimalist-simpletooltip::before,
    .minimalist-left-simpletooltip::before
    {
        top: -10px;
        right: auto;
        left: 50%;

        margin-top: -10px;
        margin-left: -5px;

        border: 10px solid transparent;
        border-bottom: 10px solid #00a0d2;
    }
}
